@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Roboto;
}

.container {
    width: 90%;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
}

.mgi {
    width: 1100px;
    position: absolute;
}

.c1 {
    background: url("../img/img1.png") no-repeat center;
    background-size: cover;
    flex-direction: none;
}

body {
    background-color: #f5f5f5;
}

.b1 {
    width: 380px;
    height: 180px;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.2000000476837158px;
    text-align: left;
    color: #1A1818;
}

.a1 {
    width: 35px;
    height: 50px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.img2 {
    width: 50%;
    height: 100%;
}

.b2 {
    width: 330px;
    height: 240px;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    color: #1A1818;
    margin-top: 20%;
}

.img3 {
    width: 460px;
    height: 616px;
}

.img4 {
    width: 300px;
    height: 400px;
    margin-top: 100px;
}

.box1 {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}

.img5 {
    width: 600px;
    height: 500px;
}

.b3 {
    width: 424px;
    height: 360px;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
}

.img6 {
    width: 460px;
    height: 616px;
}

.img7 {
    width: 300px;
    height: 400px;
    margin-top: 100px;
}

.img8 {
    width: 1100px;
    margin-top: 58px;
}

.img10 {
    width: 800px;
    margin-left: 300px;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .mgi {
        width: 700px;
    }
    .b1 {
        width: 30%;
        height: 170px;
        font-size: 25px;
    }
    .a1 {
        height: 50px;
        font-size: 10px;
    }
    .b2 {
        width: 190px;
        font-size: 30px;
    }
    .img3 {
        width: 360px;
        height: 416px;
    }
    .img4 {
        width: 200px;
        height: 300px;
        margin-top: 50px;
    }
    .img6 {
        width: 360px;
        height: 416px;
    }
    .img7 {
        width: 200px;
        height: 300px;
        margin-top: 50px;
    }
    .img5 {
        width: 360px;
        height: 416px;
    }
    .b3 {
        width: 224px;
        height: 360px;
        font-size: 25px;
    }
    .img8 {
        width: 700px;
        margin-top: 50px;
    }
    .img10 {
        width: 500px;
        margin-left: 200px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 375px) {
    .mgi {
        width: 350px;
    }
    .b1 {
        width: 60%;
        height: 200px;
        font-size: 25px;
    }
    .a1 {
        height: 50px;
        font-size: 10px;
    }
    .b2 {
        width: 100%;
        height: 150px;
        font-size: 25px;
        text-align: center;
    }
    .img2 {
        width: 100%;
        height: 100%;
    }
    .img3 {
        width: 340px;
        height: 416px;
    }
    .img4 {
        width: 340px;
        height: 416px;
    }
    .img6 {
        width: 340px;
        height: 416px;
    }
    .img7 {
        width: 340px;
        height: 416px;
    }
    .img5 {
        width: 340px;
        height: 416px;
    }
    .b3 {
        width: 100%;
        height: 200px;
        font-size: 25px;
        text-align: center;
    }
    .img8 {
        width: 350px;
    }
    .img10 {
        width: 300px;
        margin-left: 50px;
    }
    .box1 {
        display: block;
    }
}